/**
*Erickay design
*/

* {
  margin: 0;
  padding: 0;
  color: #e7e7e8;
}
body {
  font-family: sans-serif;
  font-weight: lighter;
}

main {
  background-color: rgb(255, 255, 255);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.calc-section {
  background-color: #4f5355;
  border-radius: 14px;
  border: 1px solid #4f5355;
  box-shadow: 0px 16px 25px 1px rgba(96, 100, 102, 0.7);
}

div.calc-container {
  border: 0.7px solid #ababab;
  width: 232px;
  border-radius: 14px;
}

.row {
  width: 100%;
  display: flex;
}

.calc-brand {
  display: flex;
  justify-content: center;
  padding: 5px 0px;
}
.calc-brand span {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: lighter;
  color: #7b7d7f;
}

input.calc-screen {
  background-color: #4f5355;
  text-align: right;
  border: 0px;
  outline: 0px;
  height: 50px;
  width: 100%;
  padding: 3px;
  font-size: 40px;
  font-weight: lighter;
  width: 97.5%;
  margin: 0 auto;
}

input.calc-screen::placeholder {
  color: #ffffff;
}

button.calc-btn {
  width: 25%;
  border: 0.2px solid #4f5355;
  box-sizing: border-box;
  height: 50px;
  font-size: 22px;
  cursor: pointer;
}
#btn-zero {
  width: 50%;
  border-radius: 0px 0px 0px 14px;
}
#btn-egal {
  border-radius: 0px 0px 14px 0px;
  background-color: #ff9f0b;
}

button#btn-point {
  background-color: #7b7d7f;
}
button#btn-point:active {
  background-color: hsla(0, 0%, 90%, 0.565);
}
button.btn-type-1 {
  background-color: #7b7d7f;
}
button.btn-type-1:active {
  background-color: hsla(0, 0%, 90%, 0.565);
}
button.btn-type-2 {
  background-color: #606466;
}
button.btn-type-2:active {
  background-color: #7b7d7f;
}
button.btn-type-3 {
  background-color: #ff9f0b;
}
button.btn-type-3:active {
  background-color: #c47909;
}
